services:
  sd.multistep.step_factory:
    class: solutionDrive\MultiStepBundle\Factory\MultiStepFactory

  sd.multistep.flow_factory:
    class: solutionDrive\MultiStepBundle\Factory\MultiStepFlowFactory
    arguments:
      - "@sd.multistep.step_factory"

  sd.multistep.flow_context_factory:
    class: solutionDrive\MultiStepBundle\Factory\FlowContextFactory

  sd.multistep.step_router_factory:
    class: solutionDrive\MultiStepBundle\Factory\MultistepRouterFactory
    arguments:
      - "@router"

  sd.multistep.flow_registry:
    class: solutionDrive\MultiStepBundle\Registry\MultiStepFlowRegistry
    arguments:
      - "@sd.multistep.flow_factory"

  sd.multistep.controller:
    class: solutionDrive\MultiStepBundle\Controller\MultiStepController
    arguments:
      - "@sd.multistep.flow_registry"
      - "@controller_resolver"
      - "@argument_resolver"
      - "@sd.multistep.flow_context_factory"
      - "@sd.multistep.step_router_factory"

   sd.multistep.step_checker.default:
    class: solutionDrive\MultiStepBundle\StepChecker\DefaultStepRequiredChecker
