services:
  sd.multistep.step_factory:
    class: solutionDrive\MultiStepBundle\Factory\MultiStepFactory

  sd.multistep.flow_factory:
    class: solutionDrive\MultiStepBundle\Factory\MultiStepFlowFactory
    arguments:
      - "@sd.multistep.step_factory"

  sd.multistep.flow_registry:
    class: solutionDrive\MultiStepBundle\Registry\MultiStepFlowRegistry
    arguments:
      - "@sd.multistep.flow_factory"

  sd.multistep.controller:
    class: solutionDrive\MultiStepBundle\Controller\MultiStepController
    arguments:
      - "@sd.multistep.flow_registry"
      - "@controller_resolver"
      - "@argument_resolver"
